{% extends "base.html" %}

{% block content %}
    <h1>Edit Camera: {{ camera.name }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rtsp_url.label }}<br>
            {{ form.rtsp_url(size=64) }}<br>
            {% for error in form.rtsp_url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('cameras') }}">Back to Cameras</a></p>
{% endblock %}
